# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/
langX.VC.VC.opendb
langX.VC.db
langX.vcxproj.user
.vs/langX/v14/.suo
extern/y.dot
build/
target/
.vs/langX/v15/.suo
.vs/langX/v15/Browse.VC.db
.vs/langX/v15/Solution.VC.db
.vs/langX/xs/UserPrefs.xml
bin/ARM/Debug/langX.out.recipe
bin/ARM/Debug/langX.out.recipe.merged
bin/x64/Debug/langX.out.recipe
bin/x64/Debug/langX.out.recipe.merged
