# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/
langX.VC.VC.opendb
langX.VC.db
langX.vcxproj.user

extern/y.dot
build/
*/target/
*/bin/
Debug/
*/Debug/


# VS Files
.vs/
.vs/*
*/.vs/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
